# Base de donnees (SQLite pour le dev, PostgreSQL pour la prod)
DATABASE_URL=file:./dev.db

# Authentification
NEXTAUTH_SECRET=change-ce-secret-en-production
NEXTAUTH_URL=https://nexora-v2.vercel.app
